* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 540px;
}

.container h1 {
    margin-top: 72px;
    margin-bottom: 8px;
}

.container input,textarea,button {
    display: block;
    resize: none;
    padding: 6px;
    width: 100%;
    margin-bottom: 8px;
}

.container button {
    cursor: pointer;
    border: none;
    background-color: green;
    color: white;
    font-weight: bold;
}

.container button:hover {
    background-color: rgb(6, 179, 6);
}

.container h2 {
    margin-bottom: 8px;
}

.success-message {
    background-color: rgb(0, 68, 0);
    color: white;
    padding: 16px;
    display: none;
}

.error-message {
    background-color: red;
    color: white;
    padding: 8px;
    font-size: 12px;
    margin-bottom: 6px;
    display: none;
}



